.list-ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    width: 1000px;
}

ul li{
    list-style: none;
}

.img-list{
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 3px;
   
}

.image-li{
    width: 200px;
    margin: 15px;
    border-radius: 3px;
}

.categorie{
    display: flex;
}