

.periode{
    border: 1px solid orange;
    width: 300px;
    text-align: center;
    margin: 50px auto;
}


/* ul li{
    list-style: none;
    border: 1px solid orange;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 8px;
} */